.category-section {
    color: #1A1410;
}

.tab-header {
    margin-bottom: 40px;
    padding-bottom: 20px;
}


.tab-nav {
}

.tab-btn {
    background: none;
    border: none;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    position: relative;
    color: rgba(26, 20, 16, 0.6);
    transition: color 0.3s ease;
}
.tab-btn::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,0.1);
}

.tab-btn.active {
    color: #1A1410;
}

.tab-btn.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1A1410;
}

.card-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.feature-card {
    grid-row: span 2;
    height: 100%;
}

.card-item {
    display: flex;
    flex-direction: column;
    background: #F7F2EA;
}

.card-image-placeholder {
    background-color: var(--bg-color);
    min-height: 400px;
    transition: opacity 0.3s ease;
}

.feature-card .card-image-placeholder {
    min-height: 520px; 
    flex-grow: 1;
}

.feature-card .card-content {
    background-color:#E8DECE;  
    flex-grow: 0;
    padding-bottom: 150px!important;
}

.card-content {
    background-color:#E8DECE;  
    flex-grow: 1;
}

.card-label {
    font-size: 0.7rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #8E8672;
    display: block;
    margin-bottom: 8px;
}

.card-title {
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.2;
}

.card-catagory
{
    letter-spacing: 3px;
}

@media (max-width: 1024px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
    .feature-card {
        grid-column: span 2;
        grid-row: span 1;
    }
    .tab-btn {
   width: fit-content;
}
}
